# Git
.git
.gitignore

# Documentation
README.md
HELP.md

# IDE
.vscode/
.idea/
*.iml

# Maven
target/
!target/*.jar
.mvn/wrapper/maven-wrapper.jar

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# CI/CD
.github/
scripts/

# Nginx config
nginx/
